:root{

  /* Primary Colors */

  --color-primary:#10A37F;
  --color-primary-dark:#0D8C6D;

  /* Background */

  --color-background:#F7F7F8;

  /* Text */

  --color-text:#202123;

  /* Border */

  --color-border:#E5E5E5;

}